<div class="row" ng-controller="ChatCtrl">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <!-- left column -->
        <section class="box">
            <p>Welcome: <span class="nick" ng-bind="vm.user.nick"></span><a class="btn btn-primary btn-xs active pull-right" ng-click="logout()">Logout</a></p>
            <p>Would you like to make a chat room?</p>

            <form role="form-inline">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="{{lang.roomName}}" data-ng-model="vm.room" autofocus="autofocus" /><br />
            </div>
            <button class="btn btn-default" ng-click="addRoom()" ng-disabled="vm.room === ''">{{lang.addRoom}}</button>
            </form>
        </section>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <!-- right column -->
        <section class="box" id="roomList">
            <p>This is a list of avaiable chat rooms!</p>

            <ul>
                <li ng-repeat="(title, room) in vm.rooms">
                    <a class="roomTitle" ng-click="joinRoom(title)" ng-bind="title"></a>
                    <span class="opCount"><span tooltip="{{room.ops | users}}">Ops: <span ng-bind="room.ops | count"></span></span></span>
                    <span class="userCount"><span tooltip="{{room.users | users}}">Users: <span ng-bind="room.users | count"></span></span></span>
                    <p><span ng-bind="room.topic"></span> <a ng-show="isOp(room)" class="btn btn-primary btn-xs active pull-right" ng-click="showSetTopic(room, title)">Set topic</a></p>
                </li>

            </ul>
        </section>
    </div>
</div>