<div ng-controller="RoomCtrl">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>Chatroom: {{vm.msg.roomName}}<a class="btn btn-primary btn-xs active pull-right" ng-click="leave()">Leave room</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- left column -->
            <section class="box">
                <p>Welcome: <span class="nick" ng-bind="vm.user.nick"></span><a class="btn btn-primary btn-xs active pull-right" ng-click="logout()">Logout</a></p>

                <form role="form">


                <div class="form-group">
                    <input placeholder="Your message here" data-ng-model="inputText">
                </div>
                <button class="btn btn-default" ng-click="sendMsg()">Hey</button>
                <button class="btn" ng-click="createTestRoom()">Create test room</button>
                </form>
                <h3>Messages</h3>
                <p ng-repeat="message in vm.chat.messages">{{message.nick}}:{{message.message}}</p>
            </section>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- right column -->
            <section class="box" id="messageList">
                <h3>Users</h3>
                <div class="dropdown-toggle">
                <a ng-click="actionUser(user)" ng-repeat="user in vm.chat.room.users">{{user}}<br></a>
                </div>
                <div class="dropdown-menu">
                    <a class="btn" ng-click="dispPrvmsg()">Send private message</a>
                    <div ng-if="vm.dostuff.displayOp">
                    <a class="btn" ng-click="kickUser()">Kick user</a>
                    <a class="btn" ng-click="banUser()">Ban user</a>
                    <a class="btn" ng-click="opUser()">Promote user</a>
                    <a class="btn" ng-click="deOpUser()">Demote user</a>
                    </div>
                </div>
                <div ng-if="vm.dostuff.displayPmsgInput">
                    <input placeholder="Enter private message" data-ng-model="vm.pmsg.text">
                    <button class="btn" ng-click="sendPrvmsg()">Send</button>
                </div>
                <!-- ops are also users, apparently
                <p ng-click="actionUser(user)" ng-repeat="user in vm.chat.room.ops">{{user}}</p>
                -->
            </section>
        </div>
    </div>
</div>