<div id="roomHeader" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Welcome <strong class="nick" ng-bind="vm.user.nick"></strong>, to chatroom <strong class="nick" ng-bind="vm.msg.roomName"></strong>
            <a class="btn btn-primary btn-xs active pull-right" ng-click="logout()">Logout</a>
            <a class="btn btn-primary btn-xs active pull-right" ng-click="leave()">Leave room</a>
            <a class="btn btn-primary btn-xs active pull-right dropdown-toggle" ng-if="vm.dostuff.displayOp">Set Password</a>
            <div class="dropdown-menu btn btn-xs active pull-right">
                <input placeholder="Enter password here" data-ng-model="vm.dostuff.pass"/>
                <button class="btn btn-primary btn-xs active pull-right" ng-click="setPassword()">OK!<button>
            </div>
        </h2>
    </div>
</div>
<div id="roomMainRow" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <!-- left column -->
        <section class="box">
            <p></p>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <input class="form-control" placeholder="Your message here" data-ng-model="inputText">
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-default" ng-click="sendMsg()">Hey</button>
                    </div>
                </div>
            </form>
            <h3>Messages</h3>
            <div id="chatContainer" autoscroll-down>
                <p ng-repeat="message in vm.chat.messages"><small>{{message.timestamp | time}}</small> {{message.nick}} : {{message.message}}</p>
            </div>
        </section>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <!-- right column -->
        <section class="box" id="userList">
            <h3>Users</h3>
            <div id="userContainer" autoscroll-down class="dropdown-toggle">
            <a ng-click="actionUser(user)" ng-repeat="user in vm.chat.room.ops"><span ng-show="isOp(vm.chat.room, user)">OP: </span>{{user}}<br></a>
            <a ng-click="actionUser(user)" ng-repeat="user in vm.chat.room.users"><span ng-show="isOp(vm.chat.room, user)">OP: </span>{{user}}<br></a>
            </div>
            <div class="dropdown-menu">
                <a class="btn" ng-click="startPrvchat()">Send private message</a>
                <div ng-if="vm.dostuff.displayOp">
                    <a class="btn" ng-click="kickUser()">Kick user</a>
                    <a class="btn" ng-click="banUser()">Ban user</a>
                    <a class="btn" ng-click="opUser()">Promote user</a>
                    <a class="btn" ng-click="deOpUser()">Demote user</a>
                </div>
            </div>
            <div ng-if="vm.dostuff.displayPmsgInput">
                <input placeholder="Enter private message" data-ng-model="vm.pmsg.text">
                <button class="btn" ng-click="sendPrvmsg()">Send</button>
            </div>
            <!-- ops are also users, apparently
            <p ng-click="actionUser(user)" ng-repeat="user in vm.chat.room.ops">{{user}}</p>
            -->
        </section>
    </div>
</div>
<aside id="pmContainer">
    <article ng-repeat="(user, chat) in vm.user.pms">
        <header ng-click="chat.open = !chat.open">
            <h1 ng-bind="user"></h1>
        </header>
        <section collapse="!chat.open" class="pmBody">
            <ul autoscroll-down>
                <li ng-repeat="message in chat.messages" ng-class="{self: message.from == 'me'}">{{message.text}}</li>
            </ul>
            <form role="form">
                <div class="form-group">
                    <input class="form-control input-sm"  type="text" ng-model="chat.msg" />
                </div>
                <button class="btn btn-xs" ng-click="sendPrvmsg(user, chat.msg);chat.msg = '';">Send message</button>
            </form>
        </section>
    </article>
</aside>
