<div ng-controller="RoomCtrl">
<h1>Chatroom: {{vm.msg.roomName}}</h1>
    <col>
        <h2>Hello {{vm.user.nick}}</h2>
        <h3>Messages</h3>
        <p ng-repeat="message in vm.chat.messages">{{message.nick}}:{{message.message}}</p>
    </col>
    <col>
        <h3>Users</h3>
                <p ng-click="actionUser(user)" ng-repeat="user in vm.chat.room.users">{{user}}</p>
                <p ng-click="actionUser(user)" ng-repeat="user in vm.chat.room.ops">{{user}}</p>
    </col>
        <div ng-if="vm.dostuff.displayMenu">
            <button ng-click ="">Send private message</button>
            <button ng-click ="">Kick user</button>
            <button ng-click ="">Ban user</button>
            <button ng-click ="">Promote user></button>
            <button ng-click ="">Demote user</button>
        </div>
    <input placeholder="Your message here" data-ng-model="inputText">
    <button ng-click="sendMsg()">Hey</button>
    <button ng-click="createTestRoom()">Create test room</button>
</div>