body, html {
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
/*  font-family: "Maven Pro";*/
}

body {
  position: relative;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

section#templateContainer {
  padding-top: 80px;
}

section#login {
  width:450px;
  margin: 100px auto;
  text-align: center;
}

.box {
  border-radius: 10px;
  border: 2px solid rgba(220, 220, 220, 0.7);
  padding: 20px;
}

.error {
  font-weight: bold;
  color: #f00;
}

section#roomList {

}

section#roomList ul li {
  list-style: none;
}

section#roomList .roomTitle {
  font-size: 150%;
  color:#000;
  cursor: pointer;
}
