body, html {
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
  font-family: "Maven Pro";
} 

header {
  padding: 1px;
  background: rgba(220, 220, 220, 0.7);
  text-align: center;
  font-family: Gabriela;
}

section#login {
  width:340px;
  margin: 100px auto;
  border-radius: 10px;
  border: 2px solid rgba(220, 220, 220, 0.7);
  padding: 20px 0;
  text-align: center;
}

.error {
  font-weight: bold;
  color: #f00;
}